@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap");

.body {
  background: red !important;
}

.MuiChip-colorPrimary {
  background-color: #5637e4 !important;
}

.MuiChip-root .MuiChip-avatarColorPrimary {
  background-color: #5637e4 !important;
}

vsc-initialized {
  background-color: red !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: red !important;
  background-color: red !important;
}

.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  background-color: white !important;
}

.MuiRadio-colorSecondary.Mui-checked {
color: #5637e4 !important;
}

.MuiGrid-container {
  width: 50%;
  margin: 0 auto;
}

.MuiGrid-root
  MuiGrid-item
  MuiGrid-grid-xs-10
  MuiGrid-grid-sm-8
  MuiGrid-grid-md-3 {
  background-color: white !important;
}

.customized-color {
  background-color: red !important;
  color: green !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.man {
  width:100%;
  margin-top:30px;
}

body {
  background: #f8fdfc !important;
}

body {
  background-color: #f8fdfc !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-family: "Montserrat", sans-serif !important;
}

.MuiGrid-align-items-xs-center {
  align-items: stretch !important;
}

/* .MuiFormControl-root {
  display:block !important;
} */

@media(max-width:992px){
  .lady{
    display:none;
  }

  .logo {
    margin: auto !important;
  }

  .man {
    width: 60% !important;
margin-top: -40px;
  }


  .MuiGrid-align-items-xs-center {
    align-items: stretch !important;
  }

  .MuiGrid-container .images {
    display:block !important;
  }

  .MuiFormGroup-root {
    flex-direction: column !important;
  }



  .headerone {
    width:80%;
  }
  .pone {
    width:80%;
  }
}

@media(max-width:992px){
  .testing {
    width:200% !important;
  }
}
